body, html {
    margin: 0;
    padding: 0;
}

.App {
      height: 100vh;
      overflow: hidden;
}

* {
    box-sizing: border-box;
    font-size: 16px;
    font-family: montserrat,Arial, 'Courier New', Courier, monospace;
}

a {text-decoration: none}

.load-more {
    background-color: #ffffff;
    border: none;
    color: rgb(24, 23, 23);
    padding: 5px 0;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    outline: none;
}
