body, html {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
    font-size: 16px;
    font-family: montserrat, 'Courier New', Courier, monospace;
}

a {
    text-decoration: none;
}

/* login page */

.login-box-container {
    background: linear-gradient(120deg, #36d1dc, #5b86e5);
    height: 100vh;
    padding: 2%;
}

.login-box {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    margin: auto;
    padding: 5%;
    width: 400px;
    min-height: 60%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 2%;
    box-shadow: 0px 1px 6px 2px silver;
}

.login-box input[type="text"] {
    border: 1px silver;
    background-color: gainsboro;
    border-radius: 5px;
    height: 50px;
    width: 100%;
    padding: 5px;
    margin: 5px;
    outline: none;
}

.login-box input[type="submit"] {
    width: 100%;
    border: none;
    height: 40px;
    color: white;
    font-weight: 500;
    border-radius: 20px;
    background-color: #00adba;
    cursor: pointer;
}

.topic {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 40px;
}

.signup-link {
    background-color: gainsboro;
    padding: 10px;
    text-align: center;
    width: 100%;
    height: 40px;
    position: absolute;
    bottom: 0;
}

.signup-link button {
    border: none;
    background-color: inherit;
    cursor: pointer;
}

.signup-link button:hover {
    text-decoration: underline;
}

/* home page */

.main-app {
    display: flex;
    flex-flow: row wrap;
}

.side-section {
    width: 25%;
    height: 100%;
    z-index: 1;
    overflow-x: hidden;
}

.side-section.left {
    max-width: 400px;
    height: 100vh;
}

.middle-section {
    width: 50%;
}

/* side bar */

.sidebar-wrapper {
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 25%;
    padding: 10px 0;
}

.sidebar {
    height: 100%;
    width: 100%;
    display: flex;
    flex-flow: column wrap;
    position: relative;
}

.sidebar-upper {
    padding-top: 20px;
    padding-left: 100px;
}

.sidebar-bottom {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
}

.sidebar button {
    position: absolute;
    width: 50%;
    bottom: 0;
    border: none;
    color: white;
    height: 40px;
    border-radius: 20px;
    background-color: #00adba;
    cursor: pointer;
}

.sidebar-item {
    color: black;
    font-size: 20px;
    font-weight:550;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 10px;
}

.sidebar-item-wrapper {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    height: 40px;
    margin: 10px;
}

/* tweet list  */

.tweet-list {
    display: flex;
    flex-flow: column wrap;
    width: 100%;
}

/* compact tweet */

.tweet {
    padding: 5px 0;
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    min-height: 50px;
}

.tweet-author-info {
    height: 20px;
    display: flex;
    flex-flow: row nowrap;
}

.tweet-actions {
    height: 20px;
    display: flex;
    flex-flow: row nowrap;
}

.tweet-displayName {
    font-weight: 550;
}

.tweet-username {

}