body, html {
    margin: 0;
    padding: 0;
}

.App {
    height: var(--app-height);
    overflow: hidden;
}

* {
    box-sizing: border-box;
    font-size: 16px;
    font-family: "Open sans", "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

a {text-decoration: none}

@media only screen and (min-width: 480px) {
    .App {
        height: 100vh;
    }
}