.main-app {
    display: flex;
    flex-flow: column-reverse wrap;
    width: 100%;
    height: 100%;
}

.side-section {
    width: 100%;
    height: 7.5%;
}

.side-section.suggestion {
    display: none;
}

.middle-section {
    width: 100%;
    height: 92.5%;
    overflow-y: scroll;
    display: flex;
    flex-flow: column nowrap;
    position: relative;
}


/*
    media bara zire 480px mishe amoodi
    baraye balaye 480 ke desktop o inast marhale marhale
    avavl left side koochik mishe
    baad right side pak mishe
*/