.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  padding: 5px 10px 10px 20px;
}

.displayName {
  width: 100%;
  height: 50%;
  font-weight: 700;
  font-size: 17px;
}

.tweetsCount {
  width: 100%;
  height: 50%;
  color: rgb(83, 100, 113);
  font-size: 13px;
}
