.main-app {
    display: flex;
    flex-flow: column-reverse wrap;
    width: 100%;
    height: 100%;
}

.side-section {
    width: 100%;
    height: 50px;
}

.side-section.right {
    display: none;
}

.middle-section {
    width: 100%;
    height: calc(100% - 50px);
    overflow-y: scroll;
    display: flex;
    flex-flow: row nowrap;
    position: relative;
}

.middle-section-left {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    max-width: 600px;
}

.middle-sections-container {
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
}

.compose-tweet-box {
    border-bottom: 1px solid rgba(223, 223, 223, 0.4);
    display: none;
}

@media only screen and (min-width: 480px) {
    .main-app {
        flex-flow: row nowrap;
    }

    .side-section {
        height: 100%;
    }

    .side-section.left {
        width: 80px;
    }

    .middle-sections-container {
        max-width: 600px;
    }

    .middle-section {
        height: 100%;
        padding-right: calc((100% - 690px)*2/3);
    }

    .side-section-left-wrapper {
        padding-left: calc((100% - 690px)*1/3);
    }

    .middle-section-left {
        border-left: 1px solid rgba(223, 223, 223, 0.4);
        border-right: 1px solid rgba(223, 223, 223, 0.4);
    }

    .compose-tweet-box {
        display: block;
    }
}

@media only screen and (min-width: 1000px) {
    .middle-section {
        justify-content: left;
        padding-right: calc((100% - 1000px)/2);
    }

    .middle-section-left {
        width: 600px;
    }

    .side-section.left {
        width: 70px;
    }

    .middle-sections-container {
        max-width: 910px;
    }

    .side-section-left-wrapper {
        padding-left: calc((100% - 1000px)/2);
    }

    .middle-section-right {
        width: 310px;
        height: 100%;
    }

    .side-section.right {
        display: block;
        width: 310px;
    }
}

@media only screen and (min-width: 1060px) {
    .middle-sections-container {
        max-width: 980px;
    }

    .middle-section-right {
        width: 380px;
    }

    .side-section.right {
        width: 380px;
    }

    .side-section-left-wrapper {
        padding-left: calc((100% - 1100px)/2);
    }

    .middle-section {
        padding-right: calc((100% - 1100px)/2);
    }
}

@media only screen and (min-width: 1300px) {
    .side-section.left {
        width: 275px;
    }

    .middle-section {
        padding-right: calc((100% - 1255px)/2);
    }

    .side-section-left-wrapper {
        padding-left: calc((100% - 1255px)/2);
    }
}