
.tweet-compact {
    padding: 5px 5px;
    display: flex;
    flex-flow: row nowrap;
    min-height: 50px;
    flex-shrink: 0;
    width: 100%;
    position: relative;
    z-index: 0;
    cursor: pointer;
    transition: all 0.2s ease-out ;
}

.tweet-compact:hover {
    background-color: rgb(245, 245, 245);
}

.tweet-options {
    position: absolute;
    top: 10px;
    right: 5px;
    height: 30px;
    width: 30px;
}

.tweet-main {
    width: 100%;
    height: 100%;
    padding-left: 5px;
    display: flex;
    flex-flow: column nowrap;
}

.tweet-body {
    padding: 10px 0;
    width: 100%;
}

.tweet-sidebar {
    width: 48px;
    height: 100%;
    margin: 0 10px;
}

.tweet-author-info {
    height: 20px;
    display: flex;
    flex-flow: row nowrap;
    align-items: baseline;
}

.tweet-actions {
    width: 100%;
    height: 20px;
    display: flex;
    flex-flow: row nowrap;
}

.tweet-icon-wrapper {
    width: 33%;
    height: 100%;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

.tweet-icon {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    height: 100%;
    width: 20px;
}

.tweet-icon-num {
    font-size: 0.8em;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    padding-left: 5px;
    color: rgb(83, 83, 83);
}

.tweet-username {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

.tweet-username > label {
    font-size: 0.8rem;
    color: rgb(83, 100, 113);
}

.tweet-displayName {
    font-weight: 550;
}