.tweet-list {
    display: flex;
    flex-flow: column wrap;
    width: 100%;
    position: relative;
}

.tweet-list-item {
    width: 100%;
    min-height: 50px;
    border-bottom: 1px solid rgba(223, 223, 223, 0.4);
}

.alert {
    font-size: 1.8rem;
    width: 100%;
    text-align: center;
}