.tweet-title {
  height: 100%;
  width: 100%;
  font-size: 1.25em;
  font-weight: 550;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: left;
}

.tweet-title > div {
  font-size: inherit;
  padding-bottom: 5px;
}

.compose-reply-box {
  width: 100%;
  min-height: 100px;
  border-top: 1px solid rgba(223, 223, 223, 0.4);
  border-bottom: 1px solid rgba(223, 223, 223, 0.4);
}
